
testSwiftUI.xcodeproj/project.xcworkspace/xcuserdata/akashka.xcuserdatad/UserInterfaceState.xcuserstate
testSwiftUI.xcodeproj/xcuserdata/akash.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
testSwiftUI.xcodeproj/project.xcworkspace/xcuserdata/akash.xcuserdatad/UserInterfaceState.xcuserstate
testSwiftUI.xcodeproj/xcuserdata/akash.xcuserdatad/xcschemes/xcschememanagement.plist
